@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  background-color: #faf7f4;
  color: #333;
  line-height: 1.6;
}
.p a1 {
  font-size: 20px;
  margin: 10px 0;
  text-align: left;
}